{% extends  template ~ '/layouts/base.html.twig' %}
{% block body %}
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey | trans(error.messageData, 'security') }}</div>
    {% endif %}

    <form method="post" action="{{ path('login') }}">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        <input type="hidden" name="_target_path" value="/profile">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">
                    <i class="icon-envelope"></i>
                </span>
            </div>
            <input class="form-control {% if error %}is-invalid{% endif %}"
                   type="email"
                   value="{{ last_username }}"
                   name="_username"
                   id="inputEmail"
                   placeholder="Email"
                   required
                   autofocus
            >
        </div>
        <div class="input-group mb-4">
            <div class="input-group-prepend">
                <span class="input-group-text">
                    <i class="icon-lock"></i>
                </span>
            </div>
            <input type="password"
                   name="_password"
                   id="inputPassword"
                   class="form-control {% if error %}is-invalid{% endif %}"
                   placeholder="{{ 'zentlix_user.password' | trans }}"
                   required
            >
        </div>
        <div class="row">
            <div class="col-6">
                <button class="btn btn-primary px-4" type="submit">{{ 'zentlix_user.enter' | trans }}</button>
            </div>
        </div>
    </form>
{% endblock %}
